body {
    background-color: rgb(43, 7, 7);
    padding: auto;
    margin: auto;
    background: conic-gradient(from 90deg at 1px 1px,#0000 90deg,brown 0) 0 0/50px 50px;
    background-position: center;
}

section.jumbotron {
    align-content: center;
    margin: auto;
    max-width: 90%;
    margin-bottom: 20px;
}

section.jumbotron h3 {
    font-size: 3rem;
}

section.container {
    background-color: rgba(105, 17, 17, .93);
    padding: auto;
}

section.row {
    width: 100%;
    margin-left: 0;
}

.jumbotron {
    background-color: rgba(135, 166, 170, .8);
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 4rem;
}

h3 {
    font-weight: bolder;
    font-size: small;
    flex-wrap: wrap;
}

span.label.label-info {
    background-color: green;
    color: #fff;
}

div.well {
    background-color: rgba(224, 193, 193, .7);
    border: 1px solid red;
}

button {
    width: 75px;
}

button.btn.btn-info {
    background-color: rgb(53, 90, 143);
}

.glyphicon-time {
    font-size: 25px;
}

.glyphicon-user {
    font-size: 25px;
}

@media all {
    
}